@model CashFlow.Models.ProfileModel



@{
    ViewBag.Title = "Verif";
}

<h2>Veuillez entrer le code de 6 caractères que vous venez reçevoir à l'adresse électronique que vous avez rentrée juste avant</h2>


