@{
    ViewBag.Title = "Page d'accueil";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                CashFlow est un site permettant aux utilisateurs d'obtenir du financement pour leurs projets de la part d'autres utilisateurs.
            </p>
        </div>
    </section>
}
<h1>@TempData["info"]</h1><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
