@{
    ViewBag.Title = "CancelFromPaypal";
}
<META HTTP-EQUIV=Refresh CONTENT="3; URL=../Home/Index/">

<h2>Une erreur est survenue pendant le paiement et celui-ci a été annulé. Vous serez redirigé vers la page d'accueil.</h2>
