@{
    ViewBag.Title = "RedirectFromPaypal";
}

<META HTTP-EQUIV=Refresh CONTENT="3; URL=../Home/Index/">

<h2>Le paiement s'est effectué avec succès! Vous serez redirigé vers la page d'accueil.</h2>
